.main {
  width: 100%;
  min-height: 70vh;
  overflow-x: hidden;
}

.content {
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
  word-break: break-all;
}

@media screen and (max-width: 767px) {
  .content {
    padding: 0 2rem;
    max-width: none;
  }
}

@media screen and (min-width: 767px) {
  .content {
    max-width: 75ch;
    padding: 0 4rem;
  }
}
