.article {
  width: 100%;
  height: auto;
  padding-top: 2rem;
}

.article__title {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-lg);
  color: var(--color-text-variant);
  margin-bottom: 0.5rem;
  position: relative;
  cursor: pointer;
  transition: color 1s;
}
.article__title:hover {
  color: var(--color-primary);
}
.article__excerpt {
  color: var(--color-text);
}

.article__footer {
  font-family: var(--font-family);
  font-size: var(--font-size-sm);
  color: var(--color-text);
}
