.container {
  display: flex;
  flex-flow: column wrap;
  margin-bottom: 2rem;
}
.title {
  font-family: var(--font-family);
  font-size: var(--font-size-xl);
  color: var(--color-text-variant);
}

.date {
  font-family: var(--font-family);
  font-size: var(--font-size-md);
  color: var(--color-text);
}
